.prescriptions {
    width: 100%;
    height: 100%;
}

.prescription--nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #8BBABB;
}

.prescription--nav img {
    width: 400px;
}

.prescription--buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.prescriptions--prescriptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

#search {
    width: 6.3rem;
    height: 1.8rem;
    background-color: #8BBABB;
}

#searchButton {
    width: 70px;
    background-color: #8BBABB;
}

#profile {
    width: 6.3rem;
    height: 1.8rem;
    color: black;
}

#logoutIcon {}

#logoutButton {
    /* background-color: #8BBABB; */
    background-color: black;
}

#addPrescriptionButton {
    background-color: #8BBABB;
    padding: 10px 30px;
    align-self: center;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 15px;
}