.login {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    border: 1px solid black;
    width: 100vh;
    border-radius: 20px;
}

.login--title {
    background-color: #8BBABB;
    padding: 10px 30px;
    width: 100vh;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.login--form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.login--form--details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login--form--input {
    font-size: 0.93rem;
    border: 1px solid black;
    border-radius: 20px;
    width: 23rem;
    padding: 0.5rem 1rem;
}

.login--form--role {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login--form--radioInputs {
    display: flex;
    column-gap: 1rem;
    border: 1px solid black;
    padding: 2px 23px;
    border-radius: 20px;
}

.login--form--radioButtons {
    display: flex;
    column-gap: 0.2rem;
}

.login--form--buttons {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.loginButton {
    font-family: "poppins", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.4rem 2rem;
    background-color: #8BBABB;
    border-radius: 20px;
}

#signup {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 20px;
    background-color: #8BBABB;
    padding: 0.4rem 2rem;
}

label {
    font-size: 1.1rem;
}